In [4]:
import pandas as pd

### Создание series

In [4]:
s = pd.Series([1,2,3,4])

In [5]:
s

0    1
1    2
2    3
3    4
dtype: int64

Также series можно создать, передавая словарь с данными. Тогда ключ станет индексом, а значение по ключу - значением в series

In [5]:
d = {'Moscow': 1000, 'London': 300, 'New York': 150, 'Barcelona': None}

In [6]:
cities = pd.Series(d)

In [7]:
cities

Moscow       1000.0
London        300.0
New York      150.0
Barcelona       NaN
dtype: float64

По индексу можно вытащить значение

In [8]:
cities['Moscow']

1000.0

In [9]:
cities[['Moscow','London']]

Moscow    1000.0
London     300.0
dtype: float64

### Фильтрация

Cначала создается маска, то есть series исходного размера со значениями True/False

In [19]:
cities < 1000

Moscow        True
London        True
New York      True
Barcelona    False
dtype: bool

Затем эта маска передается в качестве аргумента и возвращаются только те строки, удовлетворяющие условию:

In [20]:
cities[cities < 1000]

Moscow      3.0
London      3.0
New York    3.0
dtype: float64

### Изменение значений

Также можно изменять значение в series по индексу

In [21]:
cities['Moscow'] = 100

In [22]:
cities

Moscow       100.0
London         3.0
New York       3.0
Barcelona      NaN
dtype: float64

In [23]:
cities[cities < 1000] = 3

In [24]:
cities

Moscow       3.0
London       3.0
New York     3.0
Barcelona    NaN
dtype: float64

Можно применять математические операции сразу с series

In [26]:
cities*3

Moscow       9.0
London       9.0
New York     9.0
Barcelona    NaN
dtype: float64

### Как фильтровать nan

Используя методы isnull/notnull, можно оставлять только строки с отсутствующими значениями и наоборот. Также создается маска, а затем идет фильтрация

In [27]:
cities[cities.isnull()]

Barcelona   NaN
dtype: float64

In [28]:
cities[cities.notnull()]

Moscow      3.0
London      3.0
New York    3.0
dtype: float64